* {margin:0px; padding: 0px; width: 100%;}

.barra1{
  background-color: #0b5485;
}

.barra1Formato{
  color: #ffff;
}

.BarraFecha{
  background-color: #bdbdbdf5;
}

.list-group{
  width: 332px;
}
.celFecha{
  width: 100%;
  min-height: 40px;
  max-height: 41px;
}